.main-title {
    font-weight: 700;
    font-size: 64px;
    margin: 0 0 0 30px;
}

p {
    margin: 10px 0 10px 15px;
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--secondary);
}

span {
    color: white;
}

.main-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: calc(100% - 74px);
}

.main-contents {
    padding-left: 15px;
}

@media (min-width:320px)  { 
    .main-title {
        font-weight: 700;
        font-size: 52px;
        margin: 0 0 0 30px;
    }
}

@media (min-width:481px)  { 
    .main-title {
        font-weight: 700;
        font-size: 52px;
        margin: 0 0 0 30px;
    }
}

@media (min-width:641px)  { 
    .main-title {
        font-weight: 700;
        font-size: 64px;
        margin: 0 0 0 30px;
    }
}

@media (min-width:961px)  { 
    .main-title {
        font-weight: 700;
        font-size: 64px;
        margin: 0 0 0 30px;
    }
}

@media (min-width:1025px) { 
    .main-title {
        font-weight: 700;
        font-size: 64px;
        margin: 0 0 0 30px;
    }
}

@media (min-width:1281px) { 
    .main-title {
        font-weight: 700;
        font-size: 64px;
        margin: 0 0 0 30px;
    }
}