.tabs-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    position: relative;      
}

.tab-item {
    position: relative;
    top: 0.8rem;
    margin: 5px 4px 0 0;
    padding: 8px 16px 8px 16px;
    border-radius: 12px 12px 0 0;
    border-left: 1px solid var(--secondary-light);
    border-top: 1px solid var(--secondary-light);
    border-right: 1px solid var(--secondary-light);
    color: var(--page-bg);
    background-color: var(--secondary-light);
    height: 1.6rem;
    transition: top 0.25s linear;
}

.tab-item:hover {
    cursor: pointer;
    height: 2rem;
    margin: 0 4px 0 0;
    transition: 0.25s ease-in-out;
}

.tab-item-active {
    position: relative;
    top: 0.8rem;
    margin: 0 4px 0 0;
    height: 2rem;
    padding: 8px 16px 8px 16px;
    border-radius: 12px 12px 0 0;
    border-top: 1px solid var(--secondary);
    border-left: 1px solid var(--secondary);
    border-right: 1px solid var(--secondary);
    color: var(--page-bg);
    background-color: var(--secondary);
}