footer {
    width: 100%;
    position: fixed;
    bottom: -70px;
    transition: 0.5s;
    display: flex;
    flex-flow: column;
    align-items: center;
    pointer-events: none; /* disables the hover on the .parent                 */
}

footer:hover {
    bottom: -50px;
    transition: 0.5s;
}

.footer-button {
    height: 100px;
    width: 50px;
    transition: 0.5s;
    border-radius: 50px;
    background: var(--primary-bg);
    border: none;
    display:flex;
    flex-flow: column;
    align-items: center;
    animation: Fade-in 3s;
}

footer .footer-button {
    pointer-events: auto;
}

footer .footer-button:hover{
    cursor: pointer;
    width: 55px;
    transition: 0.5s;    
}

.footer-button:hover svg {
    top: 7px;
    width: 45px; 
    height: 45px;
    opacity: 1;
    transition: 0.4s;
}

svg {
    position: relative;
    top: 25px;
    width: 40px; 
    height: 40px;
    opacity: 0;
    transition: 0.5s;
}

@keyframes Fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}